/* #region fonts */

@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'), url('Fonts/Gilroy-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Gilroy-Heavy';
    src: local('Gilroy-Heavy'), url('Fonts/Gilroy-Heavy.woff') format('woff');
}


@font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy-Light'), url('Fonts/Gilroy-Light.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy-Medium'), url('Fonts/Gilroy-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: local('Gilroy-Regular'), url('Fonts/Gilroy-Regular.woff') format('woff');
}

/* #endregion */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    
    background-color: white;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.07);
    padding: 0 3%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    font-family: 'Gilroy-Medium';
}

.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 130px;
}

.location{
    font-family: 'Gilroy-Bold';
    font-size: 20px;
}

.location i{
    color: #6444E4;
}

.links{
    display: flex;
    gap: 50px;
    font-family: 'Gilroy-Bold';
}

.middle .links a{
    text-decoration: none;
    color: #0D4B8C;
}

.active{
    color: white !important;
    background-color: #6444E4;
    padding: 3px 10px;
    border-radius: 15px;
}

.right{
    display: flex;
    align-items: center;
    gap: 50px;
}

.search-box{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 0 5px;
    width: 100%;
}

.search-box i{
    color: #6444E4;
}

.search-box input{
    padding: 10px 0;
    font-size: 15px;
    border: 0;
    outline: 0;
}

.sign_in{
    width: 100%;
}

.sign_in a{
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 6px;
    color: white;
    background-color: #f97316;
}

.banner{
    position: relative;
    width: 100%;
    height: 600px;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: white;
    font-family: 'Gilroy-Bold';
    font-size: 62px;
    top: 12%;
    left: 6%;
    text-shadow: 8px 2px 7px black;
}

.text_container button{
    background-color: #6444e4;
    color: white;
    padding: 10px 20px;
    font-family: 'Gilroy-Bold';
    border-radius: 10px;
    font-size: 25px;
    outline: 0;
    border: 0;
    margin-top: 60px;
    cursor: pointer;
}

.explore h2, .artist h2, .events-info h2{
    text-align: center;
    margin: 30px;
    font-family: 'Gilroy-Bold';
    font-size: 45px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 20px 0;
}

.cards img{
    width: 150px;
}

.actors{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
}

.actors-photo img{
    border-radius: 50%;
    width: 185px;
}

.actors-photo p{
    text-align: center;
    font-family: 'Gilroy-Bold';
    font-size: 20px;
}

.events{
    margin: 30px 50px;
}

.event-card-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
}

.events-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 300px;
    height: 420px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #99c1e9;
    transition: all 0.2s ease-in-out;
}

.events-card:hover{
    transform: scaley(1.01);
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.20);
}

.events-pic{
    width: 270px;
    height: 170px;
    overflow: hidden;
}

.events-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.events-pic img:hover{
    transform: scale(1.04);
}

.text_box{
    width: 100%;
    margin: 10px 0;
    color: #042c61;
}

.events-card .text_box h3{
    font-family: 'Gilroy-Medium';
    padding-bottom: 10px;
    text-align: left;
    font-size: 20px;
}

.text_box .location{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
    font-size: 18px;
}

.fees i{
    font-size: 18px;
    color: #f97316;
}

.fees{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}

.time i{
    color: #6444E4;
}

.time{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}

.ticket-btn{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.ticket-btn a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gilroy-Bold';
    padding: 8px 16px;
    border: 2px solid #0d4baa;
    color: #0d4baa;
    border-radius: 8px;
}

.book{
    color: white !important;
    background-color: #0d4b8c;
}

.discover img{
    width: 1320px;
}

footer{
    margin-top: 50px;
    width: 100%;
    height: 350px;
    background-color: black;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 30px 50px;
    color: white;
}

.container .logo img{
    width: 150px;
}

.app img{
    width: 120px;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app p{
    padding-top: 20px;
    font-size: 15px;
    font-family: 'Gilroy-Bold';
}

.container .links a{
    text-decoration: none;
    color: white;
}

.copyright{
    padding: 50px;
    text-align: center;
    color: #77777e;
    font-family: 'Gilroy-Bold';
}